.cesium_field {
    flex-grow: 2;
    margin: 2px 1px 2px 5px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    border-radius: 4px;
    background-color: darkslategrey;
}

.cesium_field > :first-child {
    height: 100%;
}
