.cesium_field {
    flex-grow: 2;
    margin: 2px 2px 2px 2px;
    width: 100%;
    min-height: 400px;
    height: calc(100% - 4px);
    border-radius: 4px;
    background-color: darkslategrey;
}

.cesium_field > :first-child {
    height: 100%;
}

.cesium-geocoder-searchButton {
    top: 11px !important;
    right: 11px !important;
}
