@import 'src/theme.scss';

.icons_menu {
    padding: 2px;
    background: $base-color-dark;
    color: #000000;
    box-shadow: 10px 0px 5px -9px rgba(0,0,0,0.65);
}

.home-icon {
    margin-top: 5px;
}
