.App {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
    min-height: 400px;
    // height: calc(100% - 20px);
    height: 100%;
}

.grid-item {
    /* padding: 5px; */
}
