form {
    padding: 10px;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    color: #ffffff;
    background: #000000;
    border-radius: 18px;
    border: 1px solid #cfcece;
}
