.wrapper {
  height: 100vh;
  width: 100vw;
}

.sidebar {
  height: 100%;
  width: 35%;
  border-right: 1px solid #b0adad45;
  padding: 60px 20px 60px 30px;
}

.sidebarlink {
  width: 100%;
  padding: 8px 8px 8px 15px;
  font-size: 25px;
  color: #818181;
  display: block;
  word-spacing: 10px;
}

.sidebarlink:hover {
  color: #f1f1f1;
  border: 1px solid #818181;
  border-radius: 4px;
}

footer {
  height: 6%;
  width: 100%;
  padding: 20px;
  font-size: small;
  margin-top: -6%;
}

.content {
  padding: 20px 0px 0px 0px;
  height: 100%;
}

form.loginform,
form.signupform {
  width: 50%;
  height: 50%;
  margin: auto;
  padding-top: 10%;
}

h3 {
  text-align: center;
}
