// fontawesome icons
// https://fontawesome.com/icons?s=brands&m=free => '@fortawesome/free-brands-svg-icons'
// https://fontawesome.com/icons?s=regular&m=free => '@fortawesome/free-solid-svg-icons'

/* make bootstrap customizations
https://getbootstrap.com/docs/4.4/getting-started/theming/
*/

@import "~bootstrap/scss/bootstrap";

html, body {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 400px;
  min-width: 900px;
  // height: 99.7vh;
  color: #000000;
  background-color: #000000;
}

#root {
  height: inherit;
  background-color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  margin: auto;
  width: max-content;
}

form {
  padding: 10px;
}
