// @import "./shared.scss";
// @import 'src/styles/_colors.scss';
// @import '~nprogress/nprogress'; // importing a css file from the nprogress node module

$base-color-dark: #1A1A2E;
$base-color-mid_dark: #16213E;
$base-color-light: #0F3460;

$button-pri-color: #17B794;
$button-pri-color-active: #17B794;

$border-color: #1A1A2E;
