// @import "./shared.scss";
// @import 'src/styles/_colors.scss';
// @import '~nprogress/nprogress'; // importing a css file from the nprogress node module

$base-color-dark: #FFFFFF;
$base-color-mid_dark: #007CEF;
$base-color-light: #000000;

$button-pri-color: #17B794;
$button-pri-color-active: #46C989;

$border-color: #000000;
